#header {
	background-color: white;
	padding: 5px;
	color: red;
	text-decoration: underline;
}

#header img {
	width: 30px;
}

#folders {
	background-color: white;
	margin-top: 5px;
	width: 10%;
	text-align: center;
	float: left;
}

#folders ul {
	padding:0;
	margin: 0;
}

#folders h2 {
	text-decoration: underline;
}

#sender {
	background-color: white;
	margin-top: 5px;
	margin-left: 5px;
	width: 5%;
	text-align: left;
	float: left;
}

#subject {
	background-color: white;
	margin-top: 5px;
	margin-left: 5px;
	width: 5%;
	text-align: left;
	float: left;
}

#date {
	background-color: white;
	margin-top: 5px;
	margin-left: 5px;
	width: 15%;
	text-align: left;
	float: left;
}

#content {
	background-color: white;
	margin-top: 5px;
	margin-left: 5px;
	width: 63%;
	text-align: left;
	float: right;
}

#footer {
	clear: both;
	text-align: right;
	font-size: 10pt;
	position:absolute;
   	bottom:0;
   	width:98%;
}
